/*==============popup access log - table access log===========*/
.dialog_access_log .access_log_table tfoot tr>td:nth-child(3) input{
	width:200px;
}
.dialog_access_log .access_log_table tfoot tr>td:nth-child(5) input{
	width:85px;
}
.dialog_access_log .access_log_table tfoot tr>td:nth-child(6) input{
	width:135px;
}