<div id="tab_user_apps" class="prescription profile_tab validationEngineContainer ui-tabs-panel ui-widget-content ui-corner-bottom">
    <input type="hidden" name="p_user_dt" value="">
    <input type="hidden" name="p_uid" value="69">
    <div class="container" data-source="/profile/print_user_app_fields/user_id69/read_only0">
        <ul class="pres_ul">
            <li>
                <p>Подключено к WiThings-аккаунту:</p>
                нет<br>
                <a href="#" class="btn_withings_connecting" data-link="/withings/connecting">Подключиться</a>
            </li>
            <li>
                <p>Подключено к VitaDock-аккаунту:</p>
                нет<br>
                <a href="#" class="btn_vitadock_connecting" data-link="/vitadock/connecting">Подключиться</a>
            </li>
            <li>
                <p>Подключено к iHealth-аккаунту:</p>
                нет<br>
                <a href="#" class="btn_ihealth_connecting" data-link="https://api.ihealthlabs.com:8443/OpenApiV2/OAuthv2/userauthorization/?client_id=cea5b061232d48e79722dc447ed19732&amp;response_type=code&amp;redirect_uri=http://iapp.remsmed.mosfile.ru/ihealth?p_uid=69&amp;APIName=OpenApiBP&amp;RequiredAPIName=OpenApiBG+OpenApiBP+OpenApiSpO2+OpenApiWeight+OpenApiUserInfo">Подключиться</a>
            </li>
        </ul>
    </div>
</div>