<div id="tab_notification" class="prescription profile_ul ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div id="tm_user_notification">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" id="tbl_tm_user_notification">
            <thead>
            <tr>
                <th>Настройка уведомлений</th>
                <th style="width: 100px;">Показывать в системе</th>
                <th style="width: 100px;">Оповещать по e-mail</th>
                <th style="width: 100px;">Оповещать по смс</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>О новых сообщениях</td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_system_1" name="iis_actual_system_1" value="1">
                    </div>
                </td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_email_1" name="iis_actual_email_1" value="1">
                    </div>
                </td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_sms_1" name="iis_actual_sms_1" value="1">
                    </div>
                </td>
            </tr>
            <tr>
                <td>О новых назначениях/об изменении назначений</td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_system_2" name="iis_actual_system_2" value="1">
                    </div>
                </td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_email_2" name="iis_actual_email_2" value="1">
                    </div>
                </td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_sms_2" name="iis_actual_sms_2" value="1">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Предварительное уведомление о назначении за 15 минут до времени назначения</td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_system_5" name="iis_actual_system_5" value="1">
                    </div>
                </td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_email_5" name="iis_actual_email_5" value="1">
                    </div>
                </td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_sms_5" name="iis_actual_sms_5" value="1">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Уведомление о пропущенном назначении</td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_system_6" name="iis_actual_system_6" value="1">
                    </div>
                </td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_email_6" name="iis_actual_email_6" value="1">
                    </div>
                </td>
                <td style="width: 100px;">
                    <div style="width: 20px; margin: 0 auto;">
                        <input type="checkbox" id="iis_actual_sms_6" name="iis_actual_sms_6" value="1">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>