<div id="tab_user_info" class="prescription profile_ul validationEngineContainer ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div class="container">
        <form name='form_user_info' novalidate>
        <ul class="pres_ul">
            <li class="show_patient" id="li_patient_num">
                <p>Код пациента: <span class="requirement">*</span></p>
                <input  type="text" name="u_patient_num" id="u_patient_num"
                        ng-model="patient_num"
                        readonly="readonly">
            </li>
            <li class="show_patient" id="li_number_of_history_disease">
                <p>Номер истории болезни: </p>
                <input  type="text" name="u_number_of_history_disease" id="u_number_of_history_disease"
                        ng-model="number_history"
                        readonly="readonly">
            </li>
            <li class="show_doctor show_admin show_assistant show_manager show_patient" id="li_last_name">
                <p>Фамилия: <span class="requirement">*</span></p>
                <input type="text" name="last_nameu_last_name" id="u_last_name"
                        ng-model="last_name"
                        ng-model-options="{ updateOn: 'blur' }"
                        ng-required="true">
                <div ng-messages="form_user_info['last_nameu_last_name'].$error"
                     ng-if="form_user_info['last_nameu_last_name'].$dirty" role="alert">
                    <div ng-message="required">Это поле обязательно для заполнения.</div>
                </div>
            </li>
            <li class="show_doctor show_admin show_assistant show_manager show_patient" id="li_first_name">
                <p>Имя: <span class="requirement">*</span></p>
                <input type="text" name="u_first_name" id="u_first_name"
                       ng-model="first_name"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-required="true" >
                <div ng-messages="form_user_info['u_first_name'].$error"
                     ng-if="form_user_info['u_first_name'].$dirty" role="alert">
                    <div ng-message="required">Это поле обязательно для заполнения.</div>
                </div>
            </li>
            <li class="show_doctor show_admin show_assistant show_manager show_patient" id="li_middle_name">
                <p>Отчество:</p>
                <input type="text" name="u_middle_name" id="u_middle_name"
                        ng-model="middle_name"
                        ng-model-options="{ updateOn: 'blur' }">
            </li>
            <li>
                <p>Электронная почта:</p>
                <input type="email" class="u_email" id="u_email" name="u_email"
                       ng-model="email"
                       ng-model-options="{ updateOn: 'blur' }">
            </li>
            <li class="show_patient" id="li_birth_date">
                <p>Дата рождения:</p>
                <input type="text" name="u_birth_dt" id="dp1459854480871"
                       class="datepicker  maxDateSysdate changeMonth changeYear  hasDatepicker"
                       readonly="readonly"
                       ng-model="birth_date"
                       ng-model-options="{ updateOn: 'blur' }">
            </li>
            <li class="show_patient show_doctor show_admin show_assistant" id="li_sex">
                <p>Пол:</p>
                <div id="sex_radio" class="wr_sex_radio ui-buttonset">
                    <input type="radio" name="u_sex" id="u_sex_1" checked="checked" value="1"
                           class="sex_radio ui-helper-hidden-accessible"
                           ng-model="sex_1"
                           ng-true-value="YES"
                           ng-false-value="NO">
                    <label for="u_sex_1" class="ui-state-active ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left" role="button" aria-disabled="false"><span class="ui-button-text">муж.</span></label>
                    <input type="radio" name="u_sex" id="u_sex_2" value="2"
                           class="sex_radio ui-helper-hidden-accessible"
                           ng-model="sex_2"
                           ng-true-value="YES"
                           ng-false-value="NO">
                    <label for="u_sex_2" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" role="button" aria-disabled="false"><span class="ui-button-text">жен.</span></label>
                </div>
            </li>
            <li class="show_patient">
                <p>Адрес регистрации :</p>
                <input type="text" name="u_reg_address"
                       ng-model="reg_address"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-maxlength="150">
            </li>
            <li class="show_patient">
                <p>Фактический адрес:</p>
                <input type="text" name="u_actual_address"
                       ng-model="actual_address"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-maxlength="150">
            </li>
            <li>
                <p>Телефоны: <span class="requirement">*</span></p>
                <input type="number" name="u_telephones"
                       class="validate[required]"
                       ng-model="telephones"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-maxlength="150">
            </li>
            <li>
                <p>Обращение:</p>
                <select name="u_salutation" class=""><option selected="selected" value="83">Mr.</option><option value="84">Mrs.</option><option value="85">Miss</option><option value="86">Ms.</option><option value="87">Dr.</option></select>
            </li>
            <li>
                <p>Временная зона:</p>
                <select name="u_user_time_zone" class=""><option value="+00:00">(GMT) Greenwich Mean Time</option><option value="CET">(CET) Switzerland</option><option selected="selected" value="+03:00">(GMT +03:00) Volgograd, Moscow, St. Petersburg</option></select>
            </li>
            <li>
                <p>Язык:</p>
                <select name="u_lang_id" class=""><option></option><option value="es">Spain</option><option value="en">English</option><option selected="selected" value="ru">Русский</option><option value="de">German (Germany)</option></select>
            </li>
            <li>
                <p>Система измерения:</p>
                <select name="u_med_measure_system" id="u_med_measure_system" class=""><option selected="selected">SI</option><option>US</option></select>
            </li>
        </ul>
        <ul class="pres_ul">
            <li>
                <p>Уведомление по e-mail:</p>
                <div class="checkbox2" style="background-position: center 0px;">
                    <input type="checkbox" id="u_email_notif" name="u_email_notif" class="" value="1">
                </div>
            </li>
            <li>
                <p>Уведомление по SMS:</p>
                <div class="checkbox2" style="background-position: center 0px;">
                    <input type="checkbox" id="u_sms_notif" name="u_sms_notif" class="" value="1">
                </div>
            </li>
            <li>
                <p>Телефон для sms: <span class="phone_req" style="color:red;display:none;">*</span></p>
                <div class="inputs_block">
                    <select id="u_reg_code" name="u_reg_code" class="" value="">
                        <option value="49" selected="selected">Germany +49</option>
                        <option value="7">Russia +7</option>
                        <option value="41">Switzerland +41</option>
                        <option value="1">USA +1</option>
                    </select>
                    <input type="text" value="" name="u_telephone_for_sms" id="u_telephone_for_sms" class="validate[condRequired[u_sms_notif]]" maxlength="10">
                </div>
            </li>
            <li class="show_patient">
                <p>Медицинский полис:</p>
                <div class="inputs_block">
                    <span class="dialog_span mt0">Номер:</span>
                    <input type="text" value="" name="u_med_policy_num" maxlength="20" id="u_med_policy_num" class="">
                    <span class="dialog_span mt0">Компания:</span>
                    <input type="text" value="" name="u_med_policy_company" class="" maxlength="100">
                    <span class="dialog_span mt0">Комментарий:</span>
                    <input type="text" value="" name="u_med_policy_comment" class="" maxlength="500">
                </div>
            </li>
            <li class="show_patient" style="display:none">
                <p>Паспортные данные:</p>
                <input type="text" value="" name="u_passport_data" id="u_passport_data" class="" maxlength="250">
            </li>
            <li class="show_doctor" style="display:none">
                <p>Медицинская лицензия</p>
                <input type="text" value="" name="u_licence_num" id="u_licence_num" maxlength="50">
            </li>
            <li class="show_doctor" style="display:none">
                <p>Ученая степень:</p>
                <select name="u_academic_degree" class=""><option selected="selected"></option><option value="450">Кандидат наук</option><option value="451">Доктор наук</option><option value="452">Профессор</option><option value="691">Доцент</option></select>
            </li>
            <li class="show_doctor" style="display:none">
                <p>Квалификационная категория:</p>
                <select name="u_qualification_category" class=""><option selected="selected"></option><option value="454">Высшая квалификационная категория</option><option value="455">Первая квалификационная категория</option><option value="456">Вторая квалификационная категория</option></select>
            </li>
            <li class="show_patient">
                <p>Амбулаторная карта:</p>
                <input type="text" value="" name="u_clinic_card" id="u_clinic_card" class="" maxlength="250">
            </li>
            <li class="show_patient">
                <p>Контакты доверенного лица:</p>
                <input type="hidden" name="id">
                <input type="hidden" id="relationship_tm_user_relationship_id" name="relationship_tm_user_relationship_id" value="61">
            </li>
            <li class="show_patient">
                <p>Фамилия:</p>
                <input type="text" value="" name="relationship_last_name" maxlength="100" id="relationship_last_name">
            </li>
            <li class="show_patient">
                <p>Имя:</p>
                <input type="text" value="" name="relationship_first_name" maxlength="100" id="relationship_first_name">
            </li>
            <li class="show_patient">
                <p>Телефоны:</p>
                <input type="text" value="" name="relationship_phone" maxlength="100" id="relationship_phone">
            </li>
            <li class="show_patient">
                <p>Степень родства:</p>
                <select name="relationship_relationship" class="relationship_relationship"><option selected="selected"></option><option value="419">Брат</option><option value="422">Друг</option><option value="421">Жена</option><option value="10140">Кум</option><option value="417">Мать</option><option value="420">Муж</option><option value="416">Отец</option><option value="418">Сестра</option><option value="690">ааа</option></select>
            </li>
            <li>
                <p>Личное фото:</p>
                <input type="file" accept="image/*" name="u_avatar_file_name" class="file_photo_profile fileInput validate[custom[imageFile]]" maxlength="255">
            </li>
            <li class="wr_profile_avatar">
                <img class="profile_avatar" ng-src="assets/images/icons/avatar_01.jpg" width="90" height="90" border="0" alt="">
            </li>
        </ul>
        </form>
    </div>
</div>